<!-- Header -->
<div class="intro-header">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1>Logic Meets Creativity</h1>

          <!--<h3>--Need to write something cool here--</h3>-->
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i>
                <span class="network-name">Facebook</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i>
                <span class="network-name">Twitter</span></a>
            </li>
            <li>
              <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i>
                <span class="network-name">Linkedin</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Who We Are</h2>

        <!--<div class="alert alert-info" role="alert">Website hosting</div>-->
        <p class="lead">Dialectic Technologies is a non-traditional software company with a focus on customer centric business. We believe that with mutual co-operation and partnership no stone can remain unturned. We foster a collaborative environment with our clients and help them achieve their business milestones.
          [14-01-2015 23:04:27] Satyakam Mishra: We are eager to try new things. We love what we do and love sharing our knowledge capital with like minded thinkers, doers and innovators. Our deliberate push for certainty is a must lookout for our clients and assurance is a fact we are built upon.</p>
      </div>
      <div class="col-lg-5 col-sm-6">
        <%= image_tag 'webapp.png', :class => 'img-responsive' %>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-7 col-sm-push-5  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">What We Do</h2>

        <!--<p class="lead">Web apps that run on Android and iOS.</p>-->

        <div class="services-list">
          <%= image_tag 'mobileapp.png', :class => 'img-responsive' %>
          <%= image_tag 'webapp.png', :class => 'img-responsive' %>
          <%= image_tag 'maintenance.png', :class => 'img-responsive' %>
          <%= image_tag 'qa.png', :class => 'img-responsive' %>

        </div>
      </div>
      <div class="col-lg-5 col-sm-pull-7  col-sm-6">
        <%= image_tag 'what-we-do-demo.jpg', :class => 'img-responsive' %>

      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->


<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Connect with Dialectic:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i>
              <span class="network-name">Facebook</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i>
              <span class="network-name">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->
